<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='healthcare.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='healthcare.jpeg') }}" class="icon" />
  <h3>想要問的問題</h3>
  <form action="/example" method="post">
    <input type="text" name="input_question" placeholder="拍入問題" required />
    <input type="submit" value="回答" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
